# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
env/
venv/

# Streamlit-specific files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.pkl
*.h5
*.csv
*.xlsx
*.db
